.d-flex{
    margin-left: 900px;
    margin-top: 1%;
    color:white;

}
.formdiv{
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    margin-top: 10%;
    padding:8px;
    background-color:lightblue;
}
h4{
    color:brown;
}

